﻿<h1>Contact us!</h1>

<div>
    <p>
        Email address: info@test.com
        <br />
        Facebook: facebook.com/test
        <br />
        Twitter: test
        <br />
        Instagram: test
    </p>
</div>